@import "variables";
@import "forms";

*{
  box-sizing: border-box;
}
.main{
  .header{
    background: #fff;
    height: $header-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #eee;
    .logo{
      height: 100%;
      padding: 3px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .logo-text{
      line-height: $header-height;
      margin-left: $header-height + 3px;
      font-size: 30px;
      color: #444;
      strong{
        color: $blue-color;
        font-weight: 400;
      }
    }
  }
  .body{
    margin-top:$header-height;
    overflow: auto;
    h3{
      margin: 3px 0;
      font-weight: 400;
    }
    .importOrCreate{
      background: #fff;
      margin: 20px;
      border: 1px solid #eee;
      padding: 10px 20px;
      margin-bottom: 0px;
    }
  }
}
.but-50{
  float:left;
  width:50%;
  padding:20px;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }